@mixin nav-links {
    color: $nav-color-link;
    margin: 0 3rem;
    text-decoration: none;
    font-weight: 500;
}

@mixin box-shadow-nav {
    box-shadow: rgba(252, 249, 105, 0.25) 0px 54px 55px,
        rgba(228, 224, 33, 0.25) 0px -12px 30px,
        rgba(245, 237, 10, 0.25) 0px 4px 6px,
        rgba(250, 234, 17, 0.25) 0px 12px 13px,
        rgba(160, 157, 2, 0.25) 0px -3px 5px;
}

@mixin box-shadow-card {
    box-shadow: 0 0 1rem 0 black;
}

//width
@mixin width ($width) {
    width: $width;
}

//margin
@mixin margin($top, $rigt, $buttom, $left) {
    margin: $top $rigt $buttom $left;
}

//padding
@mixin padding($top, $rigt, $buttom, $left) {
    padding: $top $rigt $buttom $left;
}

//transition
@mixin transition($time) {
    transition: all $time ease-in;
}

//border
@mixin border ($px, $type, $color) {
    border: $px $type $color;
}

@mixin border-radius($num) {
    border-radius: $num;
}

@mixin outline ($px, $type, $color) {
    border: $px $type $color;
}

//flex
@mixin display($display, $align, $justify, ) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

//text-align
@mixin text-align($center, $left, $right) {
    text-align: $center;
    text-align: $left;
    text-align: $right;
}